body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card label {
    margin-bottom: 5px;
}

.card input {
    margin-bottom: 15px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card input[type="submit"] {
    background-color: #ff0048;
    color: white;
    cursor: pointer;
    border: none;
}

.card input[type="submit"]:hover {
    background-color: #00b371;
}